body {
  font-family: Helvetica, Arial, sans-serif;
  color: #565656;
}

.grid-container {
  display: grid;
  gap: 5px;
  background-color: #EBECF0;
  padding: 10px;
}

.header {
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: rgba(223, 108, 90, 1);
  padding: 15px;
  text-align: center;
  letter-spacing: 7px;
  text-transform: uppercase;
  box-shadow: 5px 5px #D3D3D3;
  border: 1px solid #D3D3D3;
}

.side {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: rgba(146, 190, 173, 1);
  text-align: center;
  box-shadow: 5px 5px #D3D3D3;
  border: 1px solid #D3D3D3;
}

.experience {
  grid-column-start: 2;
  grid-column-end: 4;
  padding: 15px;
  background-color: white;
  box-shadow: 5px 5px #D3D3D3;
  border: 1px solid #D3D3D3;
  background-color: rgba(250, 246, 237, 1);
}

.education {
  grid-column-start: 2;
  grid-column-end: 4;
  padding: 15px;
  background-color: white;
  box-shadow: 5px 5px #D3D3D3;
  border: 1px solid #D3D3D3;
  background-color: rgba(250, 246, 237, 1);
}

img {
  width: 90%;
  padding:10px;
  border-radius: 50%;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

h1 {
  color: white;
  font-size: 40px;
}

h2 {
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-top: 10px;
  color: 565656;
  padding-top: 30px;
  padding-bottom: 10px;
}

h3 {
  background-color: rgba(223, 108, 90, .8);
  color: white;
  padding: 10px;
  margin-top: 20px;
  font-style: italic;
  font-weight: normal;
  text-align: cente;
  letter-spacing: 5px;
  text-transform: uppercase;
}

h4,h5,h6 {
  margin: 2px;
}

h4 {
  border-bottom: 1px solid gray;
  padding-left: 10px;
  margin-top: 20px;
}

h5 {
  padding-left: 22px;
  
}

ul {
  margin-top: 2px;
  margin-bottom: 10px;
}

p {
  margin: 7px;
  color: white;
}

.contact {
  margin-top: 60px;
}

.contactinfo {
  font-weight: bold;
}

.contactheader {
  letter-spacing: 7px;
  text-transform: uppercase;
  font-style: italic;
}
