.container {
  width: 100vw;
  height: vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  
  display: grid;
  
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr 100px;
  
  gap: 10px;
  
  padding: 10px;
  box-sizing: border-box;
}

.container div {
  padding: 10px;
  border: 2px solid #274156
}

.header {
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: #1C6E8C;
  text-align: center;
}

.sidebar {
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
  background-color: #1C6E8C ;
}

.experience {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 4;
  background-color: #D0CCD0;
  }

.footer {
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: #605856;
}

img {
  width: 80%;
  border-radius: 50%
}

h1 {
  letter-spacing: 7px;
  color: white;
}

h2 {
  font-size: 17px;
  color: white;
  font-weight: normal;
}

h3 {
  background-color: #605856;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 1px;
  letter-spacing: 5px;
}

h4,h5,h6 {
  margin: 1px;
  padding-left: 25px;
}

h4 {
  margin-top: 20px;
}

.alignleft {
  float: left;
}

.alignright{
  float: right;
}
